@import url('https://fonts.googleapis.com/css2?family=Inter&family=Noto+Sans+JP:wght@400;500&family=Noto+Sans+Kannada&display=swap');

* {
  margin: 0;
  padding: 0;
}

/* Home */
.body {
  z-index: 1;
}

.Home {
  background-image: url('./home.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.Home-header {
  margin: 0;
  padding: 0;
}

.overlay {
  position: fixed;
  top: 0
  left 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  z-index: 0;
}

.back-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  background-color: transparent;
  margin: 0;
  z-index: 1;
}

.Header-logo {
  color: aliceblue;
  font-size: 56px;
  font-family: 'Noto Sans Kannada', sans-serif;
}

.Header-login-button {
  width: 100px;
  height: 50px;
  color: aliceblue;
  font-size: 18px;
  border-radius: 75px;
  border: 2.5px solid aliceblue;
  background-color: transparent;
  font-family: 'Noto Sans Kannada', sans-serif;
  margin-right: 7px;
}

.Header-login-button:hover {
  color: black;
  background-color: aliceblue;
}

.Header-signup-button {
  width: 140px;
  height: 50px;
  font-size: 18px;
  margin-left: 7px;
  border-radius: 75px;
  border: 2.5px solid white;
  border-color: aliceblue;
  font-family: 'Noto Sans Kannada', sans-serif;
}

.Header-logo-container {
  width: 20%;
  margin: 20px 50px;
  z-index: 1;
}

.Header-button-container {
  width: 16%;
  margin: 20px 50px;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.homeText {
  text-align: center;
  color: aliceblue;
  font-size: 32px;
  font-family: 'Noto Sans Kannada', sans-serif;
  position: fixed;
  bottom: 50px;
  left: 125px;
}

/* Log in and Sign up*/
.Login, .Signup {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container, .Signup-container {
  background-color: #F3F4F8;
  text-align: center;
  height: 100%;
  width: 100%;
  border-radius: 0px 25px 25px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container > * {
  margin: 5px;
}

.Signup-container > * {
  margin: 5px;
}

.Login-box {
  display: flex;
  padding: 20px;
  height: 400px;
  width: 490px;
  padding: 0;
}

.Signup-box {
  display: flex;
  padding: 20px;
  height: 530px;
  width: 520px;
  padding: 0;
}

.Login-pattern, .Signup-pattern {
  width: 50px;
  background: 
  linear-gradient(45deg, #6419af 25%, transparent 25%, transparent 75%, #6419af 75%, #6419af),
  linear-gradient(45deg, #6419af 25%, transparent 25%, transparent 75%, #6419af 75%, #6419af);
  background-color: #8563a7;
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  border-radius: 25px 0px 0px 25px;
}

.Login-base, .Signup-base {
  width: 470px;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin: 12px;
}

.Login-text, .Signup-text {
  font-size: 11px;
}

.Login-heading, .Signup-heading {
  font-size: 32px;
  font-weight: 400;
}

.Login-label{
  font-size: 10px;
}

#Login-submit, #Signup-submit {
  color: white;
  width: 80px;
  height: 40px;
  border-radius: 20px;
  background-color: #7E35C5;
  border-color: transparent;
}

.Signup-now, .Login-now {
  color: #7E35C5;
}

.checkbox-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.checkbox-group input[type="checkbox"],
.checkbox-group label {
  margin-right: 7px;
  font-weight: 400;
}

.losign {
  border-radius: 8px;
  border: 1px solid black;
  font-size: 12px;
  height: 10px;
  width: 280px;
  padding: 13px;
  margin: 2px;
}

/* Password Criteria list */
.password-c {
  font-size: 10px;
  list-style-type: none;
  padding-left: 0;
  text-align: left;
  font-weight: 200;
  color: #4B5865;
  display: flex;
  flex-direction: column;
}


.signal-box {
  width: 7px;
  height: 7px;
  border: 1px solid #4B5865; /* Adjust the border width and color as needed */
  border-radius: 7px;
  background-color: #9AA6B2;
}

.p-container {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  padding: 10px;
}

.signal-container {
  display: flex;
  align-items: center;
}

.signal-container > li {
  padding: 0 0 2.5px 5px;
}

/* Panel */
.Panel-body {
  font-family: 'Inter', sans-serif;
}

/* Create update bot window */
.CreateUpdate-body {
  background-color: #F3F4F8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.CreateUpdate-body > div {
  margin-bottom: 15px; 
}

.botform {
  border-radius: 8px;
  border: 1px solid black;
  font-size: 14px;
  height: 10px;
  width: 580px;
  padding: 13px;
  margin: 20px 2px;
}

.botform:focus {
  outline: 2px solid #5850EC;
}

.botform-ta {
  border-radius: 8px;
  border: 1px solid black;
  font-size: 14px;
  padding: 13px;
  margin: 20px 2px;
  width: 580px;
  height: 80px;
}

.botform-ta:focus {
  outline: 2px solid #5850EC;
}

.botform-item {
  display: flex;
  flex-direction: column;
}

.botformButton {
  font-family: 'Inter', sans-serif;
  color: white;
  background-color: #5850EC;
  width: 135px;
  height: 55px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  border: 0 solid;
}

.botformButton:hover {
  border: 2px solid #5850EC;
  background-color: white;
  color: #5850EC;
}

.botformSection > hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.new-user-alert {
  padding: 25px;
  background-color: rgb(204, 131, 118);
}

/* Dashboard */
.Dashboard-body {
  background-color: #F9FAFB;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.db {
  background-color: white;
}

.db-top {
  display: flex;
  height: 10%;
  width: 100%;
}

.db-t2 {
  height: 100%;
  width: 50%;
}

.db-t1 {
  display: flex;
  align-items: center;
  height: 100%;
  width: 25%;
}

.db-t3 {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  width: 25%;
}

.db-main {
  display: flex;
  height: 90%;
  width: 100%;
}

.db-stats {
  height: 100%;
  width: 50%;
}

.db-main-bottom {
  display: flex;
  height: 46%;
  width: 100%;
  margin: 2% 0;
}

.db-usage {
  height: 47%;
  width: 96%;
  margin: 1.5% 2%;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.1);
}

.db-chatlist {
  height: 100%;
  width: 46.5%;
  margin: 0 1.5% 0 2%;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.1);
}

.db-happy {
  height: 100%;
  width: 46.5%;
  margin: 0 2% 0 1.5%;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.1);
}

.db-chathistory {
  height: 100%;
  width: 25%;
}

.db-chat {
  height: 100%;
  width: 25%;
}

.db-chathistorybox {
  height: 96%;
  width: 96%;
  margin: 2%;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.1);
}

.db-h2 {
  font-size: 18px;
  padding: 10px;
}

.db-update {
  font-family: 'Inter', sans-serif;
  color: white;
  background-color: #5850EC;
  width: 135px;
  height: 55px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  border: 0 solid;
  margin: 10px;
}

.db-update:hover {
  border: 2px solid #5850EC;
  background-color: white;
  color: #5850EC;
}

.db-user-circle {
  height: 43px;
  width: 43px;
  border-radius: 25px;
  background-color: #5850EC;
  margin-left: 10px;
}

.db-user-text {
  font-weight: 600;
  font-size: 18px;
}

.db-user-block {
  display: flex;
  padding: 15px;
  margin: 5px;
  border-radius: 15px;
  align-items: center;
  background-color: white;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.1);
}